<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/navbar.css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <img src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/v1469463557/nswj9f0e9o268twigaxl.png" />
            <h2>[User Name Here]</h2>
        </header>
        <ul>
            <li tabindex="0" class="icon-dashboard"> <span>Dashboard</span></li>
            <li tabindex="0" class="icon-customers"><span>Planner</span></li>
            <li tabindex="0" class="icon-users"><span>Agenda</span></li>
            <li tabindex="0" class="icon-settings"><span>Admin</span></li>
        </ul>
    </nav>

    <main>
        <div>
            
        </div>
    </main>


    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
